*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo Black", sans-serif;
    
}

body{
    font-family: "Archivo Black", sans-serif;
    overflow-x: hidden;

}

h1{
    font-size: 45px;
}

header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


#chk1{
    display: none; 
}


i{
    color: #000;
    cursor: pointer;
}

button{
    cursor: pointer;
}

header .logo{
    flex: 1;
     
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
    
}
header .search-box{
    flex: 1;
    position: relative;
}


.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#c5c5c5;
    border-radius: 30px;
    color:rgb(0, 0, 0);
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: rgb(0, 0, 0);
    color: #fff;
}

.search-box button:hover{
    transform: translateX(0px);
}

.fa-search{
    color: #fff;
}


header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
    z-index: 99;

}


header ul li{
    list-style: none;
    z-index: 99;

}


header ul li a{
    text-decoration: none;
    color:black;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 10px;
}

.fa{
    font-size: 20px;
}


header ul li a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}


header .menu{
    font-size: 1.5em;
    display: none;
}

.faixaPreta{
    width: 100%;
    background-color: black;
    height: 45px;
}

.container-foto{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.freteGratis{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 12px;
    margin-top: 30px;
    height: 40px;
    font-style: italic;
}



/*CSS-PRODUTOS*/
.txtprodutos{
    margin-top: 100px;
    text-align: center;
    font-size: 36px;
    margin-bottom: -80px;
    line-height: 10px;
}


.produto{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box-produtos{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.quadrado{
    border-radius: 30px;
    backdrop-filter: blur(9px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin: 50px;
    cursor: pointer;
    width: 320px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.quadrado:hover{
    transform:translatey(-10px);
}


.txtPreco{
    margin-top: 20px;
}

.produtoImg{
    margin-top: 12px;
    width: 210px;
    height: 200px;
}

.txtProduto{
    margin: 8px;
}

.estrela{
    margin: 1px;
}

.linhatxt{
    width: 100px;
    height: 6px;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
    background-color: black;
    position:absolute;
}
/*CSS-PRODUTOS*/



/*FINAL E-MAIL*/
.final-email{   
    margin-top: 70px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 224, 224, 0.678);
    height: 300px;
    flex-direction: column;
}

.box-pesquisa-final{
    margin-top: 200px;
    text-align: center;
    display: flex;
    justify-content: right;
    margin: 10px;
}

.txt-final{
    font-size: 20px;
    margin-bottom: -5px;
}


.txt-menor{
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    color: rgb(58, 58, 58);
    margin-bottom: 20px;
    margin-top: 15px;
}

.box-pesquisa-final input{
    color: rgb(0, 0, 0);
    font-size: 14px;
    height: 40px;
    border-radius: 10px;
    background: #ececec;
    border: transparent;
    width: 390px;
    text-align: center;
    outline: none;

}

.box-pesquisa-final input:hover{
    box-shadow: 0 0 6px rgb(0, 102, 255) ;
}

.box-final{
    background-color: black;
    height: 300px;
}



.btnEnviar{
    background-color: black;
    color: white;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    border: white solid 1px;
}

/*FINAL E-MAIL*/






/*MEDIA QUERYS RESPONSIVAS*/
@media(max-width:1000px){

    body{
        font-family: "Anton", sans-serif;
        overflow-x: hidden;
    }

    .search-box button{
        position: absolute;
    }

    img{
        max-width: 400px;
    }

    .freteGratis{
        font-size: 8px;
        height: 25px;
    }

    .faixaPreta{
        height: 25px;
    }

    h1{
        font-size: 30px;
        margin-left: -20%;
    }


    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(255, 255, 255);
        border: solid 1px black;
        height: calc(100vh - 100px);
        width:70%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
}

@media(min-width:1002px) and (max-width: 1200px){

    img{
        max-width: 800px;
    }

    header li .icones{
        list-style: none;
        margin-top: -30px;
    }

    header ul li{
        margin-top: 0px;
    }


}




/*FONTES*/
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/*FONTES*/